.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ----------------- */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


/* Header */

.header {
  height: 120px;
  background-color: rgba(163, 163, 163, 0.527);
  top: 0;
  position: sticky;
  position: fixed!important;
  z-index: 1000;
  width: 100%;
}

.titleh1 {
  font-weight: bold;
  color: white;
  padding-left: 15px;
  }

  .navbar {
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    height: 75px;
    background-color: rgb(80 80 80 / 53%);
    top: 0;
    position: sticky;
    position: fixed!important;
    z-index: 1000;
    width: 100%;
    justify-content: space-around;
  }

  .navlink {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 500;
    padding-bottom: 20px;
    margin: 10px;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Bebas Neue', cursive;
  }

  #tilebarnav {
    font-size: xxx-large;
    font-weight: bolder;
    font-family: 'Bebas Neue', cursive;
}

a {
  text-decoration: none; 
}

  .navlink:hover {
    color: ivory;
    font-weight: bolder;
    cursor: pointer;
  }

  /* ----------------- */



  /* Main Body */

  .background {
    background: url(./assets/img/mainimg.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
    top: 0px;
  }

  /* ----------------- */



  /* Menu */

  .h1menu {
    text-align: center;
    font-size: 50px;
  }

  .menubody {
    background-color: rgb(163 163 163 / 25%);
  }

  .menuheader {
    opacity: .4;
  }

  .menuimg {
    background-image: url(./assets/img/Menu2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1450px;
    background-repeat: no-repeat;
    background-size: 75%;
    padding-top: 205px;
    background-position: center;
  }

  /* ----------------- */



  /* Gallery */

.gallery {
  line-height:0;
  -webkit-column-count:5; 
  -webkit-column-gap:5px; 
  -moz-column-count:5;
  -moz-column-gap:5px;
  column-count:2;
  column-gap:5px;
  padding-top: 95px;
}

.gallery img:hover {
  filter:none;
}

.gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; 
  /* filter: grayscale(100%); */
  transition: filter .5s;
}

/* ----------------- */



/* About */

.aboutbody {
  background: url(./assets/img/tilebaredit.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
    top: 0px;
    background-position: top;
    
}

.abouticons {
  align-items: unset;
  padding-top: 20px;
  grid-template-columns: repeat(2, 1fr);
    display: grid;
    justify-items: center;
}

.flex-row-about {
    align-items: center;
    column-gap: 10%;
    margin: auto;
    justify-content: right;
    position: fixed;
    height: 40%;
    inline-size: -webkit-fill-available;
    padding-left: 144px;
    padding-right: 142px;
    padding-top: 110px;
    display: grid;
    width: 35%;
}

.iconstyle {
  color: ivory;
  font-size: xx-large;
}

.col1 {
  float: left;
    font-size: x-large;
    width: 400px;
    padding-top: 150px;
    font-family: 'Kanit', sans-serif;
    position: fixed;
  text-align: center;
}

.col2 {
  float: right;
  width: 60%;
}

/* Career */

.careerform {
  text-align: -webkit-center;
  margin-top: 150px;
}

.forminputs {
  display: table-caption;
}

/* ---------------- */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


