.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




/* Header */

.header {
  height: 120px;
  background-color: rgba(163, 163, 163, 0.527);
  top: 0;
  position: sticky;
  position: fixed!important;
  z-index: 1000;
  width: 100%;
}

.titleh1 {
  font-weight: bold;
  color: white;
  padding-left: 15px;
  }

  .navbar {
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    height: 75px;
    background-color: rgba(163, 163, 163, 0.527);
    top: 0;
    position: sticky;
    position: fixed!important;
    z-index: 1000;
    width: 100%;
    justify-content: space-around;
  }

  .navlink {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 500;
    padding-bottom: 20px;
    margin: 10px;
    font-weight: bolder;
  }

  #tilebarnav {
    font-size: xx-large;
    font-weight: bolder;
}

a {
  text-decoration: none; 
}

  .navlink:hover {
    color: ivory;
    font-weight: bolder;
    cursor: pointer;
  }


  /* ----------------- */

  /* Main Body */

  .background {
    background: url(./assets/img/mainimg.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
    top: 0px;
  }

  /* Menu */

  .h1menu {
    text-align: center;
    font-size: 50px;
  }

  .menubody {
    background-color: rgb(163 163 163 / 25%);
  }

  .menuheader {
    opacity: .4;
  }

  .menuimg {
    background-image: url(./assets/img/Menu2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1450px;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
  }

  /* Gallery */

.gallery {
  line-height:0;
  -webkit-column-count:5; 
  -webkit-column-gap:5px; 
  -moz-column-count:5;
  -moz-column-gap:5px;
  column-count:2;
  column-gap:5px;
  padding-top: 95px;
}

.gallery img:hover {
  filter:none;
}

.gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; 
  filter: grayscale(100%);
  transition: filter .5s;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


